* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', Arial, sans-serif;
}

/* Set nav styling */

nav ul {
  font-weight: 600;
  text-transform: uppercase;
}

nav ul a:link {
  color: #033b84;
  text-decoration: none;
}

nav ul a:hover {
  color: #4292fa;
}

/* Set styling for color Swatches */

ul.swatches {
  display: inline-block;
  text-decoration: none;
}

ul.swatches li {
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  text-align: center;
  padding: 3px;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

/* Blue Swatches */

#blues li.blue1 {
  background-color: #4292fa;
}

#blues li.blue2 {
  background-color: #1678f9;
}

#blues li.blue3 {
  background-color: #0663dc;
}

#blues li.blue4 {
  background-color: #033b84;
}

/* Red Swatches */

#reds li.red1 {
  background-color: #f03f59;
}

#reds li.red2 {
  background-color: #ed1535;
}

#reds li.red3 {
  background-color: #b40e26;
}

#reds li.red4 {
  background-color: #8c0b1e;
}

/* Green Swatches */

#greens li.green1 {
  background-color: #9ede62;
}

#greens li.green2 {
  background-color: #7bd02c;
}

#greens li.green3 {
  background-color: #5a9720;
}

#greens li.green4 {
  background-color: #385f14;
}
