* {
  margin: 0;
  padding: 0;
}

html {
  display: block;
  font-family: 'Inconsolata', monospace;
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0 10%;
}

h1,
h2 {
  text-transform: uppercase;
  padding: 10px 0;
}

/* Set nav styling */

nav ul {
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px 30px;
}

nav ul a:link {
  color: #033b84;
  text-decoration: none;
}

nav ul a:hover {
  color: #4292fa;
}

/* Set styling for color Swatches */

ul.swatches {
  display: inline-block;
  text-decoration: none;
  margin: 20px 30px;
}

ul.swatches li {
  width: 300px;
  height: 60px;
  line-height: 60px;
  margin: 5px;
  text-align: center;
  padding: 3px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* Blue Swatches */

#blues li.blue1 {
  background-color: #4292fa;
}

#blues li.blue2 {
  background-color: #1678f9;
}

#blues li.blue3 {
  background-color: #0663dc;
}

#blues li.blue4 {
  background-color: #033b84;
}

/* Red Swatches */

#reds li.red1 {
  background-color: #f03f59;
}

#reds li.red2 {
  background-color: #ed1535;
}

#reds li.red3 {
  background-color: #b40e26;
}

#reds li.red4 {
  background-color: #8c0b1e;
}

/* Green Swatches */

#greens li.green1 {
  background-color: #9ede62;
}

#greens li.green2 {
  background-color: #7bd02c;
}

#greens li.green3 {
  background-color: #5a9720;
}

#greens li.green4 {
  background-color: #385f14;
}

/* Styling for typography */

.headings {
  text-transform: capitalize;
}

.headings h1 {
  font-size: 34px;
}

.typography h3 {
  font-size: 20px;
  padding: 0 0 10px 0;
  font-weight: 400;
}

.font1,
.font2,
.font3 {
  border: 2px solid #dbdbdb;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 500px;
  padding: 10px;
  margin: 0 0 10px 10px;
}

.font1 p,
.font2 p,
.font3 p {
  font-size: 24px;
  padding: 0 0 10px 20px;
}

.font1 p {
  font-family: Lato, sans-serif;
}

.font1 p.style1 {
  font-weight: 100;
}

.font1 p.style2 {
  font-weight: 400;
}

.font1 p.style3 {
  font-weight: 400;
  font-style: italic;
}

.font2 {
  font-family: Ubuntu, sans-serif;
}

.font2 p.style1 {
  font-weight: 300;
}

.font2 p.style2 {
  font-weight: 500;
}

.font2 p.style3 {
  font-weight: 700;
  font-style: italic;
}

.font3 {
  font-family: Inconsolata, sans-serif;
}

.font3 p.style1 {
  font-weight: 400;
}

.font3 p.style2 {
  font-weight: 600;
}

.font3 p.style3 {
  font-weight: 800;
}
